streamlit==1.42.0
pandas==2.2.3
numpy==2.2.1
joblib==1.4.2
plotly==5.24.1
folium==0.19.4
streamlit-folium==0.24.0
matplotlib==3.10.0
altair==5.5.0
requests==2.32.3
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.123.0
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
xgboost==3.0.0
statsmodels==0.14.4
pydeck==0.9.1
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
rich==13.9.4
category_encoders  # ✅ Added missing package
